<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>My pickup calls</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-pickup-call-card status="hold" updatedAt="25/04/2021 16:29" createdAt="24/04/2021"
    notes="we have two bags that are full, one with plastic and the other with glasses"></app-pickup-call-card>
  
  <app-pickup-call-card status="processing" updatedAt="24/04/2021 10:00" createdAt="23/04/2021"
    notes="we have two bags that are full"></app-pickup-call-card>

  <app-pickup-call-card status="finished" updatedAt="23/04/2021 18:00" createdAt="22/04/2021" value="$ 10,00"></app-pickup-call-card>
</ion-content>